<div ngbAccordion [destroyOnHide]="false">
    <div ngbAccordionItem [collapsed]="false">
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>
                <span class="fs-1">Regional Weather</span>
                <span class="mx-2 fs-5">(click to expand/collapse)</span>
            </button>
        </h1>
        
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ham-regional-weather></ham-regional-weather>
            </div>
        </div>
    </div>
    <div ngbAccordionItem [collapsed]="true">
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>
                <span class="fs-1">National Weather</span>
                <span class="mx-2 fs-5">(click to expand/collapse)</span>
            </button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ham-national-weather></ham-national-weather>
            </div>
        </div>
    </div>
    <div ngbAccordionItem [collapsed]="true">
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>
                <span class="fs-1">Radio Propagation / Space Weather</span>

                <span class="mx-2 fs-5">(click to expand/collapse)</span>
            </button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ham-radio-propagation></ham-radio-propagation>
            </div>
        </div>
    </div>
</div>