<div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>Regional Weather</button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ham-regional-weather></ham-regional-weather>
            </div>
        </div>
    </div>
    <div ngbAccordionItem [collapsed]="true">
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>National Weather</button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ham-national-weather></ham-national-weather>
            </div>
        </div>
    </div>
    <div ngbAccordionItem [collapsed]="true">
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>Radio Propagation / Space Weather</button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ham-radio-propagation></ham-radio-propagation>
            </div>
        </div>
    </div>
</div>