<div class="container-fluid text-center">
    <h1>External Resources</h1>
    <div class="row">

        <div class="col">
            <h2>Weather / Natural Phenomena</h2>
            <ul>
                <li><a href="https://earth.nullschool.net/#current/wind/isobaric/1000hPa/overlay=mean_sea_level_pressure/orthographic=-102.48,43.35,812">nullschool.net animated weather visualization</a></li>
                <li><a href="https://openweathermap.org/weathermap?basemap=map&cities=true&layer=radar&lat=35.6528&lon=-82.8259&zoom=8">OpenWeatherMap.org interactive weather map</a></li>
                <li><a href="https://map.blitzortung.org/#7.41/35.425/-82.92">Blitzortung Real-Time Lightning Strike Map</a></li>
                <li><a href="https://earthquake.usgs.gov/earthquakes/map/?extent=21.61658,-133.19824&extent=53.46189,-57.26074">USGS Earthquake Map</a></li>
                <li><a href="https://waterdata.usgs.gov/state/North%20Carolina/">USGS Water Data for NC (stream gauges)</a></li>
                <li><a href="https://gispub.epa.gov/airnow/?contours=none&monitors=ozonepm&showgreencontours=false&xmin=-9753185.434863616&xmax=-8391994.835161265&ymin=3901804.9121718155&ymax=4482114.830912845">AirNow.gov Air Quality Map</a></li>
                <li><a href="https://www.airnow.gov/?city=Asheville&state=NC&country=USA">AirNow - Asheville Dashboard</a></li>
            </ul>
        </div>

        <div class="col">
            <h2>Local Government</h2>
            <h3>Buncombe County</h3>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=9No4Az-wUSM" target="_blank">Buncombe County Courthouse Cam</a></li>
                <li><a href="https://www.buncombecounty.org/countycenter/codered.aspx" target="_blank">Buncombe County Emergency Alerts (CodeRed)</a></li>
                <li><a href="https://www.buncombecounty.org/common/publicrelations/emergencycontactinformation.pdf" target="_blank">Buncombe County Emergency Numbers (PDF)</a></li>
                <li><a href="https://www.buncombecounty.org/governing/depts/emergency-services/emergency-preparedness.aspx">Buncombe County Emergency Preparedness</a></li>
            </ul>
            <ul>
                <h3>City of Asheville</h3>
                <li><a href="https://member.everbridge.net/453003085611892/faq" target="_blank">Sign up for AVL Alert</a></li>
                <li><a href="https://www.ashevillenc.gov/service/prepare-for-an-emergency/" target="_blank">City of Asheville Emergency Preparedness</a></li>
                <li><a href="https://www.ashevillenc.gov/service/water-quality-advisories/" target="_blank">Asheville Water Quality Advisories</a></li>
            </ul>
        </div>

        <div class="col">
            <h2>Road Conditions</h2>
            <ul>
                <li><a href="https://drivenc.gov/" target="_blank">DriveNC real-time road conditions</a></li>
                <li><a href="https://drivenc.gov/?ref=share&type=state&layers=congestion&pins=incidents_road-work,incidents_other-incidents,roads_interstate,roads_us,roads_nc" target="_blank">DriveNC map with filters</a></li>
                <li><a href="https://www.nps.gov/blri/planyourvisit/roadclosures.htm" target="_blank">National Park / Parkway Road Closures</a></li>
                <li><a href="https://www.nps.gov/grsm/planyourvisit/temproadclose.htm">Great Smokey Mtns National Park Closures</a></li>
                <li><a href="https://www.ncparks.gov/state-parks/mount-mitchell-state-park">Mount Mitchell State Park Closures</a></li>
            </ul>
        </div>

        <div class="col">
            <h2>Other Status Reports</h2>
            <ul>
                <li><a href="https://outagemaps.duke-energy.com/#/current-outages/ncsc" target="_blank">Duke-Progress Outage Map</a></li>
            </ul>
        </div>

        <div class="col">
            <h2>Maps</h2>
            <ul>
                <li><a href="https://oems.nc.gov/trauma/" target="_blank">NC Trauma Center Info</a></li>
                <li><a href="https://oems.nc.gov/wp-content/uploads/2025/04/rac_map_041025-1536x1187.png" target="_blank">Map of NC trauma centers</a></li>
                <li><a href="https://connect.ncdot.gov/resources/State-Mapping/Pages/default.aspx" target="_blank">NCDOT downloadable maps</a></li>
                <li><a href="https://connect.ncdot.gov/resources/State-Mapping/Pages/Ordering-Maps.aspx" target="_blank">Order printed NCDOT maps</a> $0.50 per sheet for counties, $3.50 per sheet for state on non-glossy paper at 2.5' by 8'.  $10 shipping.</li>
                <li><a href="https://www.visitnc.com/travel-guides" target="_blank">NC Tourist Maps</a></li>
            </ul>
        </div>

        <div class="col">
            <h2>First Aid/Medical Training</h2>
            <h3>National</h3>
            <ul>
                <li><a href="https://www.redcross.org/take-a-class" target="_blank">American Red Cross (CPR, AED, First Aid)</a></li>
                <li><a href="https://www.nols.edu" target="_blank">NOLS Wilderness Training (First Aid, First Responder, EMT)</a></li>
            </ul>
            <h3>Asheville / Buncombe County</h3>
            <ul>
                <li><a href="https://abtech.edu/program-finder/continuing-ed-workforce/continuing-education-emergency-services/emergency-medical" target="_blank">AB-Tech Emergency Medical Services Training Classes</a></li>
            </ul>
        </div>

        <div class="col">
            <h2>Emergency Management & Training</h2>
            <ul>
                <li><a href="https://www.arrl.org/emergency-communications-training?_zs=tWfeo&_zl=F8TL3">ARRL EmComm Training Resources</a></li>
                <li><a href="https://bcoares.org/"></a>Buncombe County ARES Organization</li>
                <li><a href="https://training.fema.gov/is/courseoverview.aspx?code=IS-100.c&lang=en">FEMA - IS-100c - Introduction to the Incident Command System</a></li>
                <li><a href="https://training.fema.gov/is/courseoverview.aspx?code=is-700.b&lang=en">FEMA - IS-700b - Introduction to the National Incident Management System</a></li>
                <li><a href="https://learn.arrl.org/courses/67044">ARRL - Basic EmComm Training</a></li>
            </ul>
        </div>

        <div class="col">
            <h2>Ham Online Tools</h2>
            <ul>
                <li><a href="https://webapp.echolink.org/">EchoLink Web App</a></li>
                <li><a href="https://www.amsat.org/track/index.php">AMSAT Satellite Pass Predictions</a></li>
                <li><a href="https://www.arrl.org/rf-exposure-calculator">RF Exposure Calculator</a></li>
                <li><a href="https://aprs.fi/#!lat=35.5825&lng=-82.6115"></a>APRS.fi Tracker</li>
                <li><a href="https://www.pskreporter.info/pskmap.html">PSK Reporter Map</a></li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <h2>Ham Apps and Services</h2>
            <ul>
                <li><a href="https://hamalert.org/about">HamAlert</a></li>
                <li><a href="https://hamrs.app/">HAMRS Logging</a></li>
                <li><a href="http://js8call.com/">JS8Call</a></li>
                <li><a href="https://www.whitemesa.net/arim/arim.html">ARIM ARDOP Messaging</a></li>
                <li><a href="https://www.cantab.net/users/john.wiseman/Documents/ARDOPC.html">ARDOPC Interface</a></li>
                <li><a href="https://github.com/markqvist/tncattach">TNC Attach (TNC over TCP)</a></li>
                <li><a href="https://outpostpm.org/index.php">Outpost Packet Manager</a></li>
                <li><a href="https://github.com/Xastir/Xastir">Xastir APRS Tracker</a></li>
                <li><a href="https://github.com/qvarforth/trackdirect"></a>TrackDirect APRS Web App</li>
                <li><a href="https://aprs.wiki/">APRS over SMS by NA7Q</a></li>
                
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>
