<div id="topDiv" class="container-fluid">
    <div class="row">
        <div class="col">
            <ul ngbNav #nav="ngbNav" class="nav-pills my-2" [destroyOnHide]="false" >
                <li ngbNavItem>
                    <button type="button" ngbNavLink>Regional Weather</button>
                    <ng-template ngbNavContent>
                        <ham-regional-weather></ham-regional-weather>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <button type="button" ngbNavLink>National Weather</button>
                    <ng-template ngbNavContent>
                        <ham-national-weather></ham-national-weather>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <button type="button" ngbNavLink>Radio Propagation</button>
                    <ng-template ngbNavContent>
                        <ham-radio-propagation></ham-radio-propagation>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <button type="button" ngbNavLink>Resources</button>
                    <ng-template ngbNavContent>
                        <ham-em-info></ham-em-info>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-3 ms-1 justify-content-center">
        <div class="col-auto">
            <ham-clock></ham-clock>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>