<div class="row text-center">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        HamSQL.com Solar-Terrestrial Data
                    </div>
                    <div class="card-body">
                        <ham-image-handler smallSource="https://www.hamqsl.com/solar101vhfpic.php"
                                           mediumSource="https://www.hamqsl.com/solar101vhfpic.php"
                                           sourceLink="https://www.hamqsl.com/solar.html"
                                           imageTitle="HamSQL.com Solar-Terrestrial Data">
                        </ham-image-handler>
                    </div>
                </div>
            </div><!-- End third row of space weather -->
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA D-Region Absorption Prediction (D-RAP)
                    </div>
                    <div class="card-body">
                        <ham-image-handler smallSource="https://services.swpc.noaa.gov/images/animations/d-rap/global/d-rap/latest.png"
                                           mediumSource="https://services.swpc.noaa.gov/images/animations/d-rap/global/d-rap/latest.png"
                                           sourceLink="https://services.swpc.noaa.gov/images/animations/d-rap/global/d-rap/"
                                           imageTitle="NOAA D-Region Absorption Prediction (D-RAP)">
                        </ham-image-handler>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA Space Weather Prediction - Ionosphere
                    </div>
                    <div class="card-body">
                        <ham-image-handler smallSource="https://services.swpc.noaa.gov/images/animations/wam-ipe/wfs_ionosphere_new/latest.png"
                                           mediumSource="https://services.swpc.noaa.gov/images/animations/wam-ipe/wfs_ionosphere_new/latest.png"
                                           sourceLink="https://services.swpc.noaa.gov/images/animations/wam-ipe/wfs_ionosphere_new/"
                                           imageTitle="NOAA Space Weather Prediction - Ionosphere">
                        </ham-image-handler>
                    </div>
                </div>
            </div>

        </div><!-- End first row of space weather -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA Space Weather - Aurora Forecast (North Pole)
                    </div>
                    <div class="card-body">
                        <ham-image-handler smallSource="https://services.swpc.noaa.gov/images/animations/ovation/north/latest.jpg"
                                           mediumSource="https://services.swpc.noaa.gov/images/animations/ovation/north/latest.jpg"
                                           sourceLink="https://services.swpc.noaa.gov/images/animations/ovation/north/"
                                           imageTitle="NOAA Space Weather - Aurora Forecast (North Pole)">
                        </ham-image-handler>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA Space Weather - Aurora Forecast (South Pole)
                    </div>
                    <div class="card-body">
                        <ham-image-handler smallSource="https://services.swpc.noaa.gov/images/animations/ovation/south/latest.jpg"
                                           mediumSource="https://services.swpc.noaa.gov/images/animations/ovation/south/latest.jpg"
                                           sourceLink="https://services.swpc.noaa.gov/images/animations/ovation/south/"
                                           imageTitle="NOAA Space Weather - Aurora Forecast (South Pole)">
                        </ham-image-handler>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA GOES-19 - Sun Map
                    </div>
                    <div class="card-body">
                        <ham-image-handler smallSource="https://services.swpc.noaa.gov/images/animations/suvi/primary/map/latest.png"
                                           mediumSource="https://services.swpc.noaa.gov/images/animations/suvi/primary/map/latest.png"
                                           sourceLink="https://services.swpc.noaa.gov/images/animations/suvi/primary/map/"
                                           imageTitle="NOAA GOES-19 - Sun Map">
                        </ham-image-handler>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA Space Weather Overview
                    </div>
                    <div class="card-body">
                        <ham-image-handler smallSource="https://services.swpc.noaa.gov/images/swx-overview-small.gif"
                                           mediumSource="https://services.swpc.noaa.gov/images/swx-overview-large.gif"
                                           sourceLink="https://services.swpc.noaa.gov/images/"
                                           imageTitle="NOAA Space Weather Overview">
                        </ham-image-handler>
                    </div>
                </div>
            </div>
        </div><!-- End second row of space weather -->
    </div>
</div>