<div class="row text-center">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA D-Region Absorption Prediction (D-RAP)
                    </div>
                    <div class="card-body">
                        <img src="https://services.swpc.noaa.gov/images/animations/d-rap/global/d-rap/latest.png" alt="D-RAP graphic" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA Space Weather Prediction - Ionosphere
                    </div>
                    <div class="card-body">
                        <img src="https://services.swpc.noaa.gov/images/animations/wam-ipe/wfs_ionosphere_new/latest.png" alt="SWPC Ionosphere" class="img-fluid">
                    </div>
                </div>
            </div>

        </div><!-- End first row of space weather -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA Space Weather - Aurora Forecast
                    </div>
                    <div class="card-body">
                        <img src="https://services.swpc.noaa.gov/images/animations/ovation/north/latest.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA GOES-19 - The Sun (Ultraviolet)
                    </div>
                    <div class="card-body">
                        <img src="https://services.swpc.noaa.gov/images/animations/suvi/primary/195/latest.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div><!-- End second row of space weather -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        HamSQL.com Solar-Terrestrial Data
                    </div>
                    <div class="card-body">
                        <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solar101vhfpic.php" class="img-fluid"></a>
                    </div>
                </div>
            </div><!-- End third row of space weather -->
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        NOAA Space Weather Overview
                    </div>
                    <div class="card-body">
                        <img src="https://services.swpc.noaa.gov/images/swx-overview-large.gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div><!-- End fourth row of space weather -->
    </div>
</div>