<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                NWS CONUS RADAR Animation
            </div>
            <div class="card-body">
                <ham-image-handler smallSource="https://radar.weather.gov/ridge/standard/CONUS_loop.gif"
                                   mediumSource="https://radar.weather.gov/ridge/standard/CONUS-LARGE_loop.gif"
                                   giganticSource="https://radar.weather.gov/ridge/standard/CONUS-LARGE_loop.gif"
                                   sourceLink="https://radar.weather.gov/"
                                   imageTitle="NWS CONUS RADAR Animation">
                </ham-image-handler>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                UV Index Forcasts - Day {{ selectedUvForecastDay }} of {{ availableUvForecastDays.length }}
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="btn-group-vertical" role="group" aria-label="Button group for different future forecast images">
                            <ng-container *ngFor="let dayNumber of availableUvForecastDays">
                                <button type="button" class="btn btn-primary" (click)="onUvForecastNumberClick(dayNumber)">Day {{ dayNumber }}</button>    
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-auto">
                        <ham-image-handler [smallSource]="activeUvForecastLink"
                                        [mediumSource]="activeUvForecastLink"
                                        sourceLink="https://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/"
                                        [imageTitle]="'UV Index Forcast - Day ' + selectedUvForecastDay">
                        </ham-image-handler>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>