<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                NWS CONUS RADAR Animation
            </div>
            <div class="card-body">
                <img src="https://radar.weather.gov/ridge/standard/CONUS_loop.gif" alt="NWS CONUS Radar Animation" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                UV Alert Forecast (experimental)
            </div>
            <div class="card-body">
                <img src="https://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/gif_files/uv_alert_usa.png" alt="CONUS UV Alert Map" class="img-fluid">
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card">
            <div class="card-header">
                UV Index Forecast
            </div>
            <div class="card-body">
                <img src="https://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/gif_files/uvi_map.png" alt="CONUS UV Index Forecast" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                More UV Index Forcasts + 4 days
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="https://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/gif_files/uvi_usa_f1_wmo.gif" class="img-fluid">
                    </div>
                    <div class="col-6">
                        <img src="https://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/gif_files/uvi_usa_f2_wmo.gif" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="https://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/gif_files/uvi_usa_f3_wmo.gif" class="img-fluid">
                    </div>
                    <div class="col-6">
                        <img src="https://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/gif_files/uvi_usa_f4_wmo.gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>